@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dobrodošli na stranice Ministarstva za istraživanje ruda i gubljenje vremena.</p>
</div>
